<div id="caseListDiv">
  <ul id="caseList" class="list-group">
      <a href="#" class="list-group-item list-group-item-action active flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lastname1, FirstName1 M</h5>
            <small class="text-muted">ICON</small>
          </div>
          <p class="mb-1"><b>Case#:</b> 0005445154 <b>SSN:</b> 444445555</p>
          <!--<small class="text-muted">Donec id elit non mi porta.</small>-->
      </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Lastname, FirstName M</h5>
              <small class="text-muted">IEMP</small>
            </div>
            <p class="mb-1"><b>Case#:</b> 0005445154 <b>SSN:</b> 444445555</p>
            <!--<small class="text-muted">Donec id elit non mi porta.</small>-->
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Lastname3, FirstName3 M</h5>
              <small class="text-muted">RINV</small>
            </div>
            <p class="mb-1"><b>Case#:</b> 0005445154 <b>SSN:</b> 444445555</p>
            <!--<small class="text-muted">Donec id elit non mi porta.</small>-->
        </a>
  </ul>
</div>