<!--<div class="container-fluid h-100">
      <app-case-toolbar></app-case-toolbar>
      <app-case></app-case>
</div>

-->

<div>

<div id="nav" class="nav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

</div>
<div id="mySidenav" class="sidenav">
    <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
      <app-case-toolbar></app-case-toolbar>
      <app-case></app-case>
  </div>

</div>
  <!--
  <div id="main">
    <h2>Sidenav Push Example</h2>
    <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

  </div>
-->