<h3>Find By SSN</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">SSN</label>
      <input type="text" class="form-control" id="ssn" required [(ngModel)]="ssn" name="ssn">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let customer of customers">
    <h4>{{subject.id}} - {{subject.name}} {{subject.ssn}}</h4>
  </li>
</ul>