<!--<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-sm-4">
            <app-subject-list></app-subject-list>
        </div>
        <div class="col-sm-8">
            <app-case-toolbar></app-case-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-case-list></app-case-list>    
        </div>
        <div class="col-sm-8">
            <app-subject-info></app-subject-info>    
        </div>
    </div>
</div>


-->

<div class="container-fluid dashboard h-100">
    <div class="row no-gutters">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <app-subject-info></app-subject-info>    
        </div>
    </div>
</div>
<app-case-list></app-case-list>    