<button type="button" routerLink='/dashboard' class="btn btn-primary btn-lg btn-block">Dashboard</button>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <button type="button" routerLink='/dashboard' class="btn btn-primary btn-lg btn-block">Dashboard</button>


<!--
      <div style="padding: 20px;">
            <h1 style="color: blue">{{title}}</h1>
            <h3>{{description}}</h3>
            <nav>
              <a routerLink="subject" class="btn btn-primary active" role="button" routerLinkActive="active">Subjects</a>
              <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
              <a routerLink="findbyssn" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
            </nav>
            <router-outlet></router-outlet>
          </div>
        -->