<div *ngIf="subject">
    <div>
      <label>Name: </label> {{subject.name}}
    </div>
    <div>
      <label>SSN: </label> {{subject.ssn}}
    </div>
    <div>
      <label>Active: </label> {{subject.active}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='subject.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!subject.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteSubject()'>Delete</span>
   
    <hr/>
  </div>
  